@model IEnumerable<ImplementRole.Models.CustomUser>
@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage User</h2>

<p>
    @Html.ActionLink("Create New", "Register", "Account")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("First Name", "ManageUser", new { SortingOrder = ViewBag.SortingFirstName })
        </th>
        <th>
            @Html.ActionLink("Last Name", "ManageUser", new { SortingOrder = ViewBag.SortingLastName })
        </th>
        <th>
            Email
        </th>
        <th>
            Country
        </th>
        <th>
            State
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State.StateName)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Account", new { id = item.Id })" title="Edit">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
            </a>
            |
            <a href="@Url.Action("Details", "Details", new { id = item.Id })" title="Show Details">
                <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>
            </a>
            |
            <a href="@Url.Action("Details", "Details", new { id = item.Id })" title="Delete">
                <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
            </a>
    </tr>
}
</table>
