
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to admin area</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-rss-square fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>Total Blog</div>
                        </div>
                    </div>
                </div>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="panel-footer">
                        <span class="pull-left text-primary">View Details</span>
                        <span class="pull-right text-primary"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Add Blog</a></li>
                    <li><a href="#">Manage Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.TotalUser</div>
                            <div>Total User</div>
                        </div>
                    </div>
                </div>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Add User","AddUser","Admin")</li>
                    <li>@Html.ActionLink("Add role to the user", "AddRoleToUser", "Admin")</li>
                    <li role="separator" class="divider"></li>
                    <li>@Html.ActionLink("Manage User", "ManageUser", "Admin")</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-lock fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@ViewBag.TotalRole</div>
                            <div>Total Role</div>
                        </div>
                    </div>
                </div>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Add Role", "AddRole", "Admin")</li>
                    <li>@Html.ActionLink("Manage Role", "ManageRole", "Admin")</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-map-marker fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Country & State</div>
                        </div>
                    </div>
                </div>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Add Country</a></li>
                    <li><a href="#">Add State</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Edit Country</a></li>
                    <li><a href="#">Edit State</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
